<header>

  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span class="text-box"> gestion du cabinet </span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <img src="/assets/logo.png" alt=" logo-cabinet" class="logo">
  <div class="adresse-cabinet">
    adresse cabinet
  </div>
</header>
<mat-tab-group>
  <!-- Patients Affectés -->
  <mat-tab label="Patients Affectés">
    <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container mat-elevation-z4">
      <div fxFlex *ngFor="let infirmier of infirmiers" class="card-item">
        <app-infirmier [ngStyle]="{'width':'300' + 'px'}" [infirmier]="infirmier"></app-infirmier>
      </div>
    </div>
  </mat-tab>
  <!-- Patients Non Affectés -->
  <mat-tab label="Patients Non Affectés">
    <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container mat-elevation-z4">
      <div fxFlex *ngFor="let patient of patientsNonAfectes" class="card-item">
        <app-patient [ngStyle]="{'width':'300' + 'px'}" [patient]="patient" [infirmiers]="infirmiers"></app-patient>
      </div>
    </div>
  </mat-tab>
  <!-- Ajouter Patient -->
  <mat-tab label="Ajouter Patient">

    <form [formGroup]="form">
      <mat-grid-list cols="2" rowHeight="420px">
        <mat-grid-tile>
          <div class="form-container">
            <mat-form-field>
              <input matInput formControlName="nom" placeholder="Nom*" #nom>
              <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="prenom" placeholder="Prénom" #prenom>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="naissance" [matDatepicker]="naissance" placeholder="Date de naissance*">
              <mat-datepicker-toggle matSuffix [for]="naissance"></mat-datepicker-toggle>
              <mat-datepicker #naissance></mat-datepicker>
              <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="numSecu" placeholder="Numéro de sécurité social*" #numSecu>
              <mat-error *ngIf="form.controls['numSecu'].errors?.required">Ce champ est obligatoire.</mat-error>
              <mat-error *ngIf="form.controls['numSecu'].errors?.minlength"> 15 characters minimum .</mat-error>
              <mat-error *ngIf="form.controls['numSecu'].errors?.maxlength"> 15 characters maximum.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select #sexe placeholder="Sexe">
                <mat-option value='M'>Homme</mat-option>
                <mat-option value='F'>Femme</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </mat-grid-tile>
        <mat-grid-tile>
          <div class="form-container2">
            <mat-form-field>
              <input matInput formControlName="etage" placeholder="etage" #Etage>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="numRue" placeholder="Numéro de la rue*" #NumRue>
              <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="Rue" placeholder="Rue*" #Rue>
              <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="CP" placeholder="Code postal*" #CP>
              <mat-error *ngIf="form.controls['CP'].errors?.required">Ce champ est obligatoire.</mat-error>
              <mat-error *ngIf="form.controls['CP'].errors?.minlength"> 5 characters minimum .</mat-error>
              <mat-error *ngIf="form.controls['CP'].errors?.maxlength"> 5 characters maximum.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="ville" placeholder="Ville" #ville>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    <div class="button-row">
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="serviceAjouter(
        nom.value,
        prenom.value,
        numSecu.value,
        sexe.value,
        naissance._datepickerInput.value,
        Etage.value,
        NumRue.value,
        Rue.value,
        CP.value,
        ville.value)">Submit</button>
      <button mat-raised-button color="warn" (click)="serviceClear()">Clear</button>
    </div>



  </mat-tab>
</mat-tab-group>
