<header>

  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span class="text-box"> gestion du cabinet </span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <img src="/assets/logo.png" alt=" logo-cabinet" class="logo">
  <div class="adresse-cabinet">
    adresse cabinet
  </div>
</header>


<mat-tab-group>
  <mat-tab label="Patients Affectés">
    <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container mat-elevation-z4">
      <div fxFlex *ngFor="let infirmier of infirmiers" class="card-item">
        <app-infirmier [ngStyle]="{'width':'300' + 'px'}" [infirmier]="infirmier"></app-infirmier>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Patients Non Affectés">
    <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container mat-elevation-z4">
      <div fxFlex *ngFor="let patient of patientsNonAfectes" class="card-item">
        <app-patient [ngStyle]="{'width':'300' + 'px'}" [patient]="patient"[infirmiers]="infirmiers" ></app-patient>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Ajouter Patient">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>
    
      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
    
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-tab>
</mat-tab-group>
