.imageInf {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  

}
table,
th,
td {
  text-align: left;
  font-size: 100%;
  font-weight: 300;
  font-family: 'Lato', 'arial', sans-serif;
  word-spacing: 2px;
  letter-spacing: 1px;
}
